html,body{
    width: 100%;
    height: 100%;
  }
  *{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
  }
  @font-face {
    font-family: electronicfont;
    src: url('@/style/font/DS-DIGIT.TTF');
  }